body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
div {
	box-sizing: border-box;
}
header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
    padding-bottom: 160px;
} 
.logo {
	margin-top: 41px;
	float: left;
}
.container {
	width: 930px;
	margin: 0 auto; 
}
nav {
	float: right;
	margin-top: 45px;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 41px;

}
.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.title-first {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}
h1 {
	 color: #fff;
	font-family: Arial, sans-serif;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button {
	background: #fff;
	color: black;
	border-radius: 30px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.title {
    padding-top: 115px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;

}
.title p {
	color: grey;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;

}
.services {
   margin-top: 50px;
}
.services-item {
	width: 270px;
	float: left;
	text-align: center;
}
.services-item h3 {
	font-size: 18px;
	margin-bottom: 5px;

}
.services-item p {
	font-size: 14px;
	color: #777777;
}
.services-item:last-child {
	float: right;
}
.services-item:nth-child(2) {
	margin-left: 55px;
}
#services {
	padding-bottom: 120px;
}
#portfolio {
	background: #f7f7f7;
}
.works {
	margin-top: 70px;
	padding-bottom: 120px;
}
.works img {
     float: left;
}
.works img:nth-child(2){
	margin-left: 30px;
}
.works img:last-child{
	float: right;
}

.about {
	margin-top: 100px;
}
.about:nth-child(2){
	
}
.about-items {
	margin: ;
	padding-left: 
}

.text { 
	float: left;
	padding-right: 50px;
	height: 187px;
	margin-top: 30px;

}
.about1 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
	float: left;
	width: 300px;
	display: inline-block;
	height: 187px;
}

.about-items h3 {
	font-size: 18px;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 5px;
	width: 200px
}
.about-items p {
	color: #777777;
	text-align: right;
	font-size: 14px;
	width: 300px;
}

